Options -MultiViews
RewriteEngine On
RewriteBase /

# Si el archivo o directorio existe, lo usa
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si no existe, redirige todo al index.html
RewriteRule ^ index.html [QSA,L]
